.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--blu-color);
  }
  .logo--accent {
    color: var(--black-color);
  }
  .logo--footer {
    color: var(--white-text);
  }